*{
    margin: 0;
    padding: 0;

}

.moviePages{
    margin: auto;
    background: gray;
}

.movieList{
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: auto;

}


