.mainHeader{
    height: 100px;
    background: gray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 10px 20px 5px rgba(0, 0, 0, 0.3);
    border: black 1px solid;
}




.Select{

    width: 100px;
    height: 10px;
}